# Core
Django==5.0.4
djangorestframework==3.15.1
django-environ==0.11.2
django-cors-headers==4.3.1
django-filter==24.2

# Auth
djangorestframework-simplejwt==5.3.1

# Database
psycopg2-binary==2.9.9

# File parsing
openpyxl==3.1.2
PyPDF2==3.0.1

# Static files
whitenoise==6.6.0

# Task queue
celery==5.3.6
redis==5.0.3

# Utilities
python-dateutil==2.9.0
Pillow==10.3.0

# Dev
ipython==8.24.0
django-extensions==3.2.3
